{% extends 'portfolio/base.html'%}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="bg-zinc-900 h-full">
    <div class="grid container mx-auto gap-4 pt-4">
        <div class="text-center text-white text-4xl md:text-4xl lg:text-5xl bg-zinc-800 h-40 flex items-center justify-center rounded-lg">
            <h1 class="flex items-center gap-4 underline underline-offset-8 decoration-sky-700 pt-4">
                <img src="{% static 'images/me' %}" alt="Nthumo" class="border-4 rounded-full border-gray-300 shadow-lg" style="width: 120px; height: 120px;">
                <span class="text-gray-300">WHO I <span class="text-sky-700">AM?</span> </span>
                
            </h1>
        </div>
        <div class="flex text-white text-wrap bg-zinc-800 p-20 rounded-lg whitespace-normal text-left h-full">          
            <div class="text-wrap">
                <p class="mb-4">
                    Hi, I'm Emmanuel Nthumo Mutinda, a passionate full-stack software developer with a strong foundation in Python and other programming languages. Currently, I am pursuing my Bachelor's degree in Computer Science at Murang'a University of Technology.
                    As a full-stack developer, I am proficient in a variety of technologies and tools. My expertise includes Python, Django, JavaScript, React, HTML, CSS, and SQL. <!-- I have successfully completed several projects, including Project 1, Project 2, and Project 3, which demonstrate my ability to build robust and scalable web applications.-->
                    I am particularly interested in developing innovative solutions that leverage modern technologies to solve real-world problems. 
                </p>
                <p>
                    My goal is to continually improve my skills and contribute to impactful projects in the tech industry. I am eager to collaborate with like-minded professionals and organizations that share my passion for technology and innovation.
                    Beyond my technical abilities, I am known for my strong problem-solving skills, attention to detail, and ability to work effectively in team settings. I am always eager to learn new technologies and stay updated with industry trends.
                    Thank you for visiting my portfolio. Feel free to explore my projects and get in touch with me if you'd like to discuss potential opportunities or collaborations.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
