<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    </head>

    <body class="bg-zinc-900 text-white">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 px-4 py-8">

            <div class="max-w-lg mx-auto p-8 rounded-lg bg-zinc-800 items-center grid gap-y-4 pt-2">
                <div>
                    <img src="{%static 'images/lapi'%}" alt="Laptop" class="rounded-lg" style="width: 450px; height: 250px;">
                </div>
                
                <div class="bg-zinc-900 h-50 md:h-40 rounded-lg p-4">
                    <h1>If you have any suggestions, project ideas or even just want to say Hello, feel free to reach out.</h1>
                    <br>
                    <h1 class="text-orange-400">Click the icon of your choice and you'll find me there:</h1>

                </div>
                <div class="flex gap-4 items-center justify-center bg-white p-2 rounded-lg bottom-0">
                    <a href="https://github.com/Nthumo"><img src="{%static 'images/github'%}" width="35" alt="github" class=""></a>
                    <a href="https://x.com/1_nthumo"><img src="{% static 'images/X'%}" width="35" alt="X" class="rounded-full"></a>
                    <a href="https://wa.me/+254797575799"><img src="{%static 'images/whatsapp'%}" width="35" alt="whatsapp"></a>
                    <a href="tel:+254797575799"><img src="{%static 'images/phone'%}" width="35" alt="phone" class="rounded-full"></a>
                    
                </div>
            </div>

            <div class="max-w-lg mx-auto bg-zinc-800 p-8 rounded-lg shadow-lg">
                <h2 class="md:text-2xl font-bold mb-4 text-white underline underline-offset-8 decoration-double decoration-sky-400">DROP ME A LINE</h2>
                <p class="mb-4">If you'd like to reach out through email you can do so by filling out this form:</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="name" class="sr-only"></label>
                        {{ form.name }}
                    </div>
                    <div class="mb-4">
                        <label for="email" class="sr-only"></label>
                        {{ form.email }}
                    </div>
                    <div class="mb-4">
                        <label for="comment" class="sr-only"></label>
                        {{ form.comment }}
                    </div>
                    <button type="submit" class="bg-sky-400 text-white py-2 px-4 rounded-lg hover:bg-sky-600 hover:border">
                         <span class="text-black font-bold">SEND MESSAGE</span>
                    </button>
                </form>
            </div>
        </div>
    </body>


</html>