{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My skills</title>
        
        <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

        <style>
            .custom-header {
                display: inline-block;
                width: max-content;
            }
        </style>
    </head>
    <body class="bg-zinc-900 p-4 overflow-auto">

        <!--main container-->
        <div class="grid md:grid-cols-2 gap-4">

            <!--programming languages-->
            <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1>
                    <span class="underline-offset-8 decoration-double decoration-sky-400 underline text-white"> PROGRAMMING LANGUAGES</span>
                    <ul class="grid gap-2 pt-4 p-4 ">
                        <li class="flex gap-4 items-center  block p-2 bg-black hover:border rounded-lg">
                            <img src="{% static 'images/python' %}" width="30" alt="python">
                            Python</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{% static 'images/js' %}" width="30" alt="JavaScript" class="rounded-lg">
                            JavaScript</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/c'%}" width="30" alt="C">
                            C/C++</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/html5'%}" width="30" alt="HTML">
                            HTML</li>
                            
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/css3'%}" width="30" alt="HTML">
                            CSS
                        </li>
                        
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/sql'%}" width="50" alt="">
                            SQL</li>
                    </ul>
                    
                </h1>

            </div>

            <!--frameworks and libraries-->
            <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1>
                    <span class="underline-offset-8 decoration-double decoration-sky-400 underline text-white">FRAMEWORKS AND LIBRARIES</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/django'%}" width="30" alt="django" class="rounded-lg">
                            Django
                        </li>

                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/reactjs'%}" width="30" alt="Reactjs" class="rounded-lg">
                            React
                        </li>

                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/tailwind'%}" width="30" alt="tailwindcss">
                            Tailwind CSS
                        </li>
                    </ul>
                    
                </h1>
             </div>

            <!--databases-->
             <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1>
                    <span class="text-white underline decoration-double decoration-sky-400 underline-offset-8">DATABASES</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/postgresql'%}" width="30" alt="PostreSQL">
                            PostreSQL</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/sqlite'%}" width="30" alt="SQLite">
                            SQLite</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/mongodb'%}" width="15" alt="MongoDB">
                            MongoDB</li>
                    </ul>
                    
                </h1>
             </div>

             <!--apis and web services-->
             <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1>
                    <span class="text-white underline underline-offset-8 decoration-double decoration-sky-400">APIs AND WEB SERVICES</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">RESTful APIs</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/graphql'%}" width="30" alt="">
                            GraphQl</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">API Intergration</li>
                    </ul>
                    
                </h1>
             </div>

             <!--version control and collaboration-->
             <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1>
                    <span class="underline underline-offset-8 decoration-double decoration-sky-400">VERSION CONTROL AND COLLABORATION</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-zinc-900 hover:border rounded-lg">
                            <img src="{%static 'images/git'%}" width="30" alt="Git" class="rounded-lg">
                            Git</li>
                        <li class="flex gap-4 items-center block p-2 bg-zinc-900 hover:border rounded-lg">
                            <img src="{%static 'images/github'%}" width="30" alt="">
                            GitHub</li>
                    </ul>
                    
                </h1>
             </div>

            <!--development tools-->
             <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1 class="">
                    <span class="underline underline-offset-8 decoration-double decoration-sky-400">DEVELOPMENT TOOLS</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/docker'%}" width="30" alt="Docker">
                            Docker</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/kubernetes'%}" width="30" alt="Kubernetes">
                            Kubernetes</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">
                            <img src="{%static 'images/vscode'%}" width="30" alt="Visual Studio Code" class="rounded-lg">
                            Visual Studio Code</li>
                    </ul>
                    
                </h1>
             </div>
        </div>
    </body>

</html>
